/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color-alt: #DE76A3;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
    --main-color: #37688e;
    --second-color: #F0972D;
    --Third-color: #047ed4;
    --Fourth-color: #DE76A3;
    --Fifth-color: #205B85;
}

 body {
  font-family: "Cairo", sans-serif;
  background: linear-gradient(43deg, #000000 0%, #DE76A3 46%, #0E2D3B  100%);
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */



.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #fff;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .box .img-holder {
    position: relative;
    overflow: hidden;
}

.features .box .img-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
}

.features .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .box .img-holder img {
    max-width: 100%;
}

.features .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0;
}

.features .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.features .quality .img-holder::before {
    background-color: rgba(54, 244, 216, 0.6);
}

.features .quality h2::after {
    background-color: var(--Fourth-color);
}

.features .quality a {
    color: var(--Fourth-color);
    border-color: var(--Fourth-color);
    background: linear-gradient(to right, #DE76A3 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time .img-holder::before {
    background-color: rgba(248, 118, 31, 0.6);
}

.features .time h2::after {
    background-color: var(--second-color);
}

.features .time a {
    color: var(--second-color);
    border-color: #F0972D;
    background: linear-gradient(to right, #F0972D 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion .img-holder::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .passion h2::after {
    background-color: #03a9f4;
}

.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #00f6c9 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .box:hover a {
    background-position: left bottom;
    color: white;
}

.main-title-1 {
    text-transform: uppercase;
    margin: 0 auto 0px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title-1::before,
.main-title-1::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color-alt);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title-1::before {
    left: -30px;
}

.main-title-1::after {
    right: -30px;
}

.main-title-1:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title-1:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title-1:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

/* Start Team */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.team .container {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin-left: 15%;
}
.team .box {
    position: relative;
}
.team .box::before,
.team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}
.team .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}
.team .box:hover::after {
    width: calc(100% - 60px);
}
.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-right: 300px;
}
.team .box .data img {
    width: 300%;


}



.team .box:hover img {
    filter: grayscale(100%);
}
.team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team .box .data .social a:hover i {
    color: var(--main-color);
}
.team .box .data .social i {
    color: #777;
    transition: var(--main-transition);
}
.team .box .info {
    padding-left: 80px;
}
.team .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);
}
.team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}
.team .box:hover .info h3 {
    color: #777;
}
/* End Team */


.Cardd{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-bottom: 20%;
}
.myCard {
    background-color: transparent;
    width: 340px;
    height: 344px;
    perspective: 1000px;
    padding: 0 30px;


}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.innerCard img {
    width: 300px;
}

.myCard:hover .innerCard {
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}



.frontSide,
.frontSide::before {
    background: linear-gradient(43deg, #0E2D3B 0%, #37688e 46%, #DE76A3 100%);
}

.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #DE76A3 0%, #0E2D3B 100%);
}

.backSide {
    transform: rotateY(180deg);
}

.backSide p {
    text-align: center;
    font-size: 16px;
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}


h1 {
    text-align: center;
}
.social-menu ul {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin-left: 39%;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 40px;
    height: 43px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}

.description{
    font-size: 12px;
}